.contact-us {
  text-align: center;
  padding: 30px;
  background: url(../../../../assets/blogbg.svg);
  background-size: cover;
  background-position: center;

}
.contact-us-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); /* Responsive grid layout */
  gap: 15px;
  margin: 10px;
}
.contact-us-cards {
  border: 1px solid rgb(148, 148, 159);
  border-radius: 10px;
}
.divider {
  max-width: 200px;
  background-color: #f9004d;
  border-radius: 10px;
}

.call-col {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  gap: 15px;
}
.call-icon {
  display: inline-flex;
  align-items: center;
  margin-top: 30px;
  gap: 10px;
  font-size: 1.5rem;
}
.emails {
  display: inline-flex;
  gap: 15px;
}
.fa-envelope {
  font-size: 1.5rem;
}
form {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  padding: 20px;
  margin: 0 auto; /* Center the form horizontally */
  gap: 15px;
}
.input-contacts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 0 auto; /* Center the form horizontally */
  gap: 15px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button {
  padding: 10px 20px;
  background-color: #007bff; /* Adjust button color as needed */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3; /* Adjust hover color as needed */
}
