@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
.contact-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
    background-size: cover;
    background-position: center;
    background-color: var(--light-color);
    background-image: url("src/assets/analog.svg");
  }
  .contact-text-area {
    font-family: "Outfit", sans-serif;
    text-align: center;
    line-height: 1.9;
  }
  
  .contact-text-area {
    padding: 63px;
  }
  
  .contact-form {
    width: auto;
    display: block;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgb(148, 148, 159);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.4);
  }
  
  .form-section {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
  
  form {
    display: block;
    flex-direction: row;
  }
  label {
    margin-bottom: 8px;
    font-weight: bold;
  }
  input,
  textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  button {
    padding: 10px;
    cursor: pointer;
  }
  
  /* breakpoints */
  @media screen and (max-width: 768px) {
    .contact-section {
      display: block;
      flex-direction: column;
      justify-content: space-around;
      gap: 15px;
    }
    .contact-form {
      width: 100%;
      display: block;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px solid rgb(148, 148, 159);
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  
    .form-section {
      display: block;
      flex-direction: column;
      gap: 12px;
    }
  
    form {
      display: block;
      flex-direction: row;
      width: 100%;
    }
    input,
    textarea {
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      word-wrap: break-word;
      width: 400px;
    }
  }
  
  /* iPad in Portrait mode */
  @media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .contact-form {
      padding: 15px; /* Adjust padding for iPad in Portrait mode */
    }
  }
  
  /* iPad in Landscape mode */
  @media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .contact-form {
      padding: 25px; /* Adjust padding for iPad in Landscape mode */
    }
  }
  
  .select-element {
    width: 100%;
    appearance: none;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #ccc;
    font-size: 16px;
  }
  
  .select-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none; /* Ensure clicks pass through to select element */
  }
  
  /* Customize the arrow icon (you can use an image or an icon font) */
  .select-arrow::after {
    content: "\25BC"; /* Unicode character for down arrow */
  }
  
  /* Style for hover and focus states */
  .select-element:hover,
  .select-element:focus {
    border-color: #999; /* Adjust border color on hover/focus */
  }
  