.Our-services{
  text-align: center;
}
.services-container{
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); /* Responsive grid layout */
  gap: 15px;
  margin: 10px;

}

.services-cards{
  border: 1px solid rgb(148, 148, 159);
  border-radius: 10px;
}

.services-cards:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.services-content ul{
  margin-left: 30px;
  margin-top: 5px;
}

.services-content ul li{
  margin-bottom: 10px;
}