.portfolio-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0;
    grid-column-gap: 50px;
    line-height: 1.6;
    font-size: 20px;
    flex-wrap: wrap;
    background: url(../../../../assets/new_file.svg);
  }
  
  .portflio-text {
    text-align: center;
    color: #333;
  
  
  }
  
  .image-portflio {
    width: 400px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-portflio img {
    border-radius: 5px;
    width: 100%;
  }
  .rods-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    gap: 30px;
    margin-top: 20px;
    opacity: 0;
    animation: Moveinwards 1s ease-in  forwards;
  }
  
  .rods-text-section{
      color: #373535;
  }
  @keyframes Moveinwards {
    from {
      opacity: 0;
      transform: translateY(-250px);
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .rods-section img {
    border-radius: 5px;
    width: 100%;
    position: relative;
  }
  /* breakpoints */
  
  @media screen and (max-width: 768px) {
    .portfolio-section {
      display: block;
      padding: 20px;
      align-items: center;
    }
  
    .image-portflio {
      width: 400px;
      object-fit: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
  
    .image-portflio img {
      border-radius: 5px;
      width: 100%;
      margin: 10px;
      position: relative;
    }
  
    .rods-section {
      display: block;
      flex-direction: column;
    }
  }
  
  .rods-section img {
    border-radius: 5px;
    width: 100%;
    position: relative;
    margin-top: 10px;
  }
  
  .anchor-but{
      color: #000000;
      width: 100%;
  }